<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Layout</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div class="header">
        <div class="text-group">
            <!-- изначально были кнопками --> 
            <p>Entity explore {{quantity_explore_entity}}</p>
            <p>Entity logistics {{quantity_logistics_entity}}</p>
            <!-- можно сделать так, чтобы при нажатие голды, существ, токенов
            выводились подсказки для чего это нужно
            -->
        </div>
        <div class="text-group">
            <p>{{quantity_gold}}</p>
            <p>{{quantity_token}}</p>
        </div>
    </div>
    <div class="footer">
        <!-- Откроется страница с отправкой entity  -->
        <a href="/send_entity_in_raid/?id_user={{id_user}}">
            <button class="rectangular-button">Отправиться в raid</button> 
        </a>
        <div class="footer-buttons">
                <button>
                    5
                </button>
            <button>Button 6</button>
            <button>Button 7</button>
        </div>
    </div>
</body>
</html>
