<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send entity in raid</title>
    <link rel="stylesheet" href="static/css/send_entity_in_raid.css">
</head>
<body>
    <div class="header">
        <a href="/?id_user={{id_user}}&username={{username}}">
            <button><--</button>
        </a>
        <div class="text-group">
            <p>Golds: {{quantity_gold}}</p>
            <p>Tokens: {{quantity_token}}</p>
        </div>
    </div>
    <div class="center-button">
        {% if id_user in users_of_the_activated_raid %}
            <button><h1>У вас уже есть активный raid</h1></button>
        {% else %}
            <button id="goButton" onclick="post_data({{time_raid_in_minute}}, {{golds}}, {{tokens}}, {{id_user}})"><h1>GO</h1></button>
        {% endif %}
    </div>
    <div class="text-group">
        <h2>Окончание рейда через {{time_raid_in_hour}} ч.</h2>
        <h2>Ожидаемые ресурсы: {{golds}} golds и {{tokens}} tokens</h2>
    </div>
    <script src="static/js/send_time_in_backend.js"></script>
</body>
</html>
