.venv/
bot/commands/__pycache__/
bot/func_cache/__pycache__/
bot/groups/__pycache__/
bot/handlears/__pycache__/
bot/keyboard_builder/__pycache__/
bot/parser/__pycache__/
bot/postgresql/__pycache__/
bot/send_mess_by_time/__pycache__/
test.py
.venv 
__pycache__
__pycache__/
/__pycache__/
WebAppClicker/__pycache__
OldWebAppClicker/
bot_old/
bot_new_old/
test_logic_time.py
logs_in_file/
.env